.navbar {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  padding: 0.75rem 0;
  height: 100px;
}

.container {
  max-width: 1120px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.5rem; 
  font-weight: 700;
  color: white !important;
  text-decoration: none;
}

.form {
  flex-grow: 1;
  margin: 0 1rem;
}

.formControl {
  border-radius: 0.25rem;
  background-color: white;
  color: black;
  padding: 0.375rem 0.75rem;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ffffff ;
}

.navLinks a {
  color: #f3f4f6; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: black;
}


.flagImage {
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.dropdownToggle {
  display: flex;
  align-items: center;
}
